<br>
<div class="container">
  <div class="form-group">
    <br>
    <h4>Add Service Name:</h4>
    <input [(ngModel)]="product.productName" name="newProductName" placeholder="Product name"
           class="form-control">
    <br>
    <h4>Add Service price:</h4>
    <input [(ngModel)]="product.prix" name="newProductPrix" placeholder="Product price"
           class="form-control">
    <br>
    <h4>Add Service region:</h4>
    <label for="regionSelect">Select Region:</label>
    <select id="regionSelect" [(ngModel)]="product.region">
      <option value="">-- Select Region --</option>
      <option value="Canada"> Canada </option>
      <option value="United_States"> United States </option>
      <option value="United_Kingdom"> United Kingdom </option>
      <option value="Africa"> Africa </option>

    </select>
    <br>
    <h4>Select Service category:</h4>
    <label for="categorySelect">Select Category:</label>
    <select id="categorySelect" [(ngModel)]="categoryid">
      <option value="">-- Select Category --</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.categoryName }}
      </option>
    </select>
    <br>
    <fieldset *ngFor="let i of fieldsetArray">
      <h4>Add Service Attribute:</h4>
      <input [(ngModel)]="i.attr.attribut" name="newProductDAttr" placeholder="Attribute"
             class="form-control">
      <br>
      <h4>Add Service Value:</h4>
      <input [(ngModel)]="i.detail.value" name="newProductDValue" placeholder="Value"
             class="form-control">
      <br>
    </fieldset>
    <button class="btn btn-primary" type="button" (click)="addFieldCount()">Add</button>

  </div>

  <button class="btn btn-primary" (click)="updateProduct()">Add Product</button>

</div>
